body{
	--bg-color: #0C151D;
	--btn-bg: #171F26;
	--btn-hov: #1E2932;
	--btn-color: #A3ABB2;
	--color-h1: #F1F2F4;
	--color-h3: #A3ABB2;
	--fact-h1: #A3ABB2;
	--fact-h3: #A3ABB2;
	--tabs-hov: #0C151D;
	--tabs-bg: #171F26;
}
body.light{
	--bg-color: #E9EBEC;
	--btn-bg: #ffff;
	--btn-hov: #DBDBDB;
	--btn-color: #3D3D3D;
	--color-h1: #3D3D3D;
	--color-h3: #575757;
	--fact-h1: #3A3A3A;
	--fact-h3: #575757;
	--tabs-hov: #D7D7D7;
	--tabs-bg: #19191B;
}