body{
	--bg-color: #0C151D;
	--btn-bg: #171F26;
	--btn-hov: #1E2932;
	--btn-color: #A3ABB2;
	--color-h1: #F1F2F4;
	--color-h3: #A3ABB2;
	--fact-h1: #A3ABB2;
	--fact-h3: #A3ABB2;
	--tabs-hov: #0C151D;
	--tabs-bg: #171F26;
}
body.light{
	--bg-color: #E9EBEC;
	--btn-bg: #ffff;
	--btn-hov: #DBDBDB;
	--btn-color: #3D3D3D;
	--color-h1: #3D3D3D;
	--color-h3: #575757;
	--fact-h1: #3A3A3A;
	--fact-h3: #575757;
	--tabs-hov: #D7D7D7;
	--tabs-bg: #19191B;
}
body{
	transition: 0.3s ease 0s;
	background-color: var(--bg-color);
	padding: 0;
	margin: 0;
	color: var(--color-h3);
	display: flex;
	justify-content: center;
}
.wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}
header{
	margin-top: 33px;
	margin-bottom: 65px;
}
footer{
	color: var(--color-h3);
	margin: 80px 0;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 33px;
}
/** btn toggle-them style */
#BtnToggleTheme{
	background-color: var(--btn-bg);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	transition: 0.4s ease 0s;
}
#BtnToggleTheme:hover{
	background-color: var(--btn-hov);
	cursor: pointer;
}
#BtnToggleTheme:active{
	background-color: var(--btn-bg);
}

/** Profile style */

.Profile-info{
	display: flex;
}
.Profile-info__img{
	width: 215px;
	height: 215px;
	border: 4px solid #FFE071;
	border-radius: 50%;
	background: #FED854;
	display: flex;
	align-items: center;
}
.Profile-info__img___border{
	width: 207px;
	height: 207px;
	border-radius: 50%;
	border: 5px solid var(--btn-bg);
	display: flex;
	align-items: center;
	transition: 0.2s ease 0s;
}
.Profile-info__img___border img{
	width: 100%;
	height: 100%;
}
.Profile-info__info{
	margin: 29px 0;
	margin-left: 40px;
}
.Profile-info__info h1{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: bold;
	font-size: 46px;
	line-height: 69px;
	color: var(--color-h1);
	margin: 0;
}
.Profile-info__info h3{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 33px;
	color: var(--color-h3);
	margin: 0;
}
.Social-Network{
	transition: none;
	margin-top: 12px;
}
.Social-Network a{
	margin-right: 26px;
	text-decoration: none;
}
.Social-Network a:last-child{
	margin-right: 0;
}

/** Porfile-facts style*/

.Profile-facts{
	margin: 48px 0;
	display: flex;
	justify-content: space-around;
}
.Profile-facts__items{
	text-align: center;
}
.Profile-facts__items h1{
	margin: 0;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: var(--fact-h1);
}
.Profile-facts__items h3{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 33px;
	text-align: center;
	color: var(--fact-h3);
}
.Profile-btn{
	display: flex;
	justify-content: center;
	margin-bottom: 75px;
}
.Profile-btn img{
	padding-top: 1px;
}
.Profile-btn button{
	width: 290px;
	height: 80px;
	border: none;
	border-radius: 10px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 33px;
	background-color: #FFE071;
	color: #3D3D3D;

	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease 0s;
}
.Profile-btn button:hover{
	background-color: #B8A252;
	transition: none;
}
.Profile-btn button:last-child{
	margin-left: 38px;
	background-color: var(--btn-bg);
	color: var(--btn-color);
}
.Profile-btn button:last-child:hover{
	background-color: var(--btn-hov);
}


/** Tabs style */
input{
	display: none;
}
.Tabs-buttons{
	background-color: var(--btn-bg);
	display: flex;
	justify-content: center;
	padding: 18px 24px;
	border-radius: 20px;
	transition: 0.3s;
}
.Tabs-buttons__items button{
	border: none;
	background: none;
	color: var(--btn-color);
	width: 350px;
	height: 80px;
	border-radius: 10px;
	transition: 0.3s ease 0s;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 33px;
	text-align: center;
}
.Tabs-buttons__items button:last-child{
	margin-left: 20px;
}
.Tabs-buttons__items button:hover{
	background: var(--tabs-hov);
}
/** id, which is added in main.js*/
#Tabs-btn{background: var(--tabs-hov);}
#hidden{display: none;}

.Tabs-content>div{
	width: 757px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 65px;
}
.cart-img{
	width: 362px;
	height: 226px;
	margin-bottom: 48px;
	margin-right: 32px;
	border-radius: 15px;
	position: relative;
}
.cart-img:nth-child(2n){
	margin-right: 0;
}
.cart-img__img{
	border-radius: 15px;
	position: absolute;
}
.mask-text{
	display: block;
	border-radius: 15px;
}
.cart-img:hover .mask-portfolio{
	background: #E5CB6AFF;
	filter: opacity(90%);
}
.mask-grey_portf{
	filter: grayscale(1);
}
.cart-img:hover .mask-skills{
	background: #B2ADA5;
	filter: opacity(80%);
}
.cart-img:hover .cart-img__img{
	filter: grayscale(0);
}
.mask-text__item{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 37px;
	color: #3D3D3D;
}
.mask-text__item h1{
	margin: 0px;
	font-size: 22px;
	margin-top: 30px;
}
.mask-text__item p{
	margin-top: 10px;
	margin-bottom: 18px;
	font-size: 14px;
}
.mask-text__link{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mask-text__link:hover{
	background: #E6E0D4;
}
.mask-text__link:active{
	background: #fff;
}