html{font-size: 16px;}
body{
	transition: 0.3s ease 0s;
	background-color: var(--bg-color);
	padding: 0;
	margin: 0;
	color: var(--color-h3);

	font-family: 'Poppins';
	font-style: normal;
	font-weight: bold;
	line-height: 33px;
}
.wrap{
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}
header{
	margin-top: 33px;
	margin-bottom: 65px;
}
footer{
	color: var(--color-h3);
	margin: 80px 0;
	font-size: 22px;
}
main{width: 757px;}

/** btn toggle-them style */
#BtnToggleTheme{
	background-color: var(--btn-bg);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	border: none;
	transition: 0.4s ease 0s;
	padding: 20px;
}
.BtnToggleTheme_img{
	width: 100%;
}
#BtnToggleTheme:hover{
	background-color: var(--btn-hov);
	cursor: pointer;
}
#BtnToggleTheme:active{
	background-color: var(--btn-bg);
}

/** Profile style */

.Profile-info{
	display: flex;
	justify-content: center;
}
.Profile-info__img{
	width: 215px;
	border: 4px solid #FFE071;
	border-radius: 50%;
	background: #FED854;
	display: flex;
	align-items: center;
}
.Profile-info__img___border{
	width: 207px;
	border-radius: 50%;
	border: 5px solid var(--btn-bg);
	display: flex;
	align-items: center;
	transition: 0.2s ease 0s;
}
.Profile-info__img___border img{
	width: 100%;
	height: 100%;
}
.Profile-info__info{
	margin: 29px 0;
	margin-left: 40px;
}
.Profile-info__info h1{
	font-size: 2.9rem;
	line-height: 69px;
	color: var(--color-h1);
	margin: 0;
}
.Profile-info__info h3{
	font-size: 22px;
	color: var(--color-h3);
	margin: 0;
}
.Social-Network{
	transition: none;
	margin-top: 12px;
}
.Social-Network a{
	margin-right: 26px;
	text-decoration: none;
}
.Social-Network a:last-child{
	margin-right: 0;
}

/** Porfile-facts style*/

.Profile-facts{
	margin: 48px 0;
	display: flex;
	justify-content: space-around;
}
.Profile-facts__items{
	text-align: center;
}
.Profile-facts__items h1{
	margin: 0;
	font-size: 1.5rem;
	line-height: 36px;
	color: var(--fact-h1);
}
.Profile-facts__items h3{
	font-size: 1.37rem;
	text-align: center;
	color: var(--fact-h3);
}
.Profile-btn{
	display: flex;
	justify-content: center;
	margin-bottom: 75px;
}
.Profile-btn button{
	width: 290px;
	height: 80px;
	border: none;
	border-radius: 10px;
	font-size: 22px;
	background-color: #FFE071;
	color: #3D3D3D;

	display: flex;
	align-items: center;
	justify-content: center;
}
.Profile-btn button:last-child{
	margin-left: 38px;
	background-color: var(--btn-bg);
	color: var(--btn-color);
}

/** Tabs style */
input{display: none;}
.Tabs-buttons{
	background-color: var(--btn-bg);
	display: flex;
	justify-content: center;
	padding: 18px 24px;
	border-radius: 20px;
	transition: 0.3s;
}
.Tabs-buttons__items button{
	border: none;
	background: none;
	color: var(--btn-color);
	width: 350px;
	height: 80px;
	border-radius: 10px;
	transition: 0.3s ease 0s;
	font-size: 22px;
	text-align: center;
}
.Tabs-buttons__items button:hover{background: var(--tabs-hov);}

/* id, which is added in main.js*/
#Tabs-btn{background: var(--tabs-hov);}
#hidden{display: none;}

/** cart style */
.Tabs-content-portfolio, .Tabs-content-skills{
	display: flex;
	flex-wrap: wrap;
	margin-top: 65px;/* in devise >500px*/
}
.cart-img__inner{
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 15px;}
.cart-img__inner::before{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	opacity: 0;
	content: '';
	z-index: 1;
	transition: 0.4s;
}
.mask-portfolio::before{background: rgba(255,224,113, 0.88);}
.mask-skills::before{background-color: rgba(178,173,165, 0.8);}
.cart-img__inner:hover::before{opacity: 1;}
.cart-img{
	width: 362px;
	height: 226px;
	margin-bottom: 48px;
	margin-right: 32px;
	border-radius: 15px;
}
.cart-img__img{
	width: 100%;
	height: 100%;
	/* object-fit: cover; */
}
/*for portfolio-cart*/
.mask-portfolio__img{filter: grayscale(1); transition: 0.4s;}
.cart-img:hover .mask-portfolio__img{filter: grayscale(0);}
/* mask for hover-text */
.mask-text{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 2;
	transition: 0.4s;
}
.cart-img__inner:hover .mask-text{opacity: 1;}
.mask-text__item{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 35px;
	padding-bottom: 0;
	color: #3D3D3D;
}
.mask-text__item h1{
	margin: 0px;
	font-size: 22px;
	font-weight: bold;
}
.mask-text__item p{
	margin-top: 10px;
	margin-bottom: 18px;
	font-size: 14px;
}
.mask-text__link{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}
.mask-text__link:hover{background: #E6E0D4;}
.mask-text__link:active{background: #fff;}